/* ==========================================
   NOTIFICATION MODULE
   ========================================== */

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  background-color: @surface;
  color: @on_surface;
  padding: 0 5px;
}