/*** Widgets ***/
.widget {
  margin: 8px;
  padding: 8px;
  border-radius: var(--border-radius);
}

/* Title widget */
.widget-title {
  padding: 0;
}

.widget-title > label {
  margin-right: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  margin-left: 8px;
  border-radius: var(--border-radius);
}

/* DND widget */
.wdiget-dnd {
  padding: 0;
}

.widget-dnd label {
  color: var(--text-color);
  margin-right: 8px;
  font-size: 1.1rem;
}

.widget-dnd switch {
  border-radius: var(--border-radius);
  margin-left: 8px;
}

.widget-dnd switch slider {
  border-radius: var(--border-radius);
}

/* Label widget */
.widget-label > label {
  font-size: 1.1rem;
}

/* Menubar widget */
/* ─── Menubar Buttons ───────────────────────────────────────── */

.widget-menubar {
  padding: 0px;
}

.widget-menubar button {
  padding: 5px 7px 5px 10px;
  background: var(--noti-bg);
  color: var(--text-color);
  border: none;
  box-shadow: var(--notification-shadow);
  transition: var(--hover-transition);
  border: 1px solid @outline_variant;
  border-radius: 100px;
}

/* Hover affect on the outer button wrapper */
.widget-menubar button:hover {
  background: @primary; /* Pops cleanly into your theme's main accent color */
  color: @on_primary; /* Changes text to match contrast rule */
  border-color: @primary;
  border-radius: 100px;
}

/* POWER BUTTONS */
/* Normal state for Power and Powermode buttons */
.power-buttons button,
.powermode-buttons > button {
  background: var(--noti-bg);
  color: var(--text-color);
  padding: 5px 15px;
  box-shadow: var(--notification-shadow);
  transition: var(--hover-transition);
  border: 1px solid @outline_variant;
  border-radius: 100px;
}

/* Hover state for Power and Powermode buttons */
.power-buttons > button:hover,
.powermode-buttons > button:hover {
  background: @primary; /* Pops cleanly into your theme's main accent color */
  color: @on_primary;   /* Changes text to match contrast rule */
  border-color: @primary;
}

.widget-menubar > .menu-button-bar {
  /* The left button container */
  /* The right button container */
  /* The left and right button container */
}

/* 
.widget-menubar>.menu-button-bar>.start {
  margin-left: 8px;
}

.widget-menubar>.menu-button-bar>.end {
  margin-right: 8px;
}

.widget-menubar>.menu-button-bar>.widget-menubar-container button {
  border-radius: var(--border-radius);
  margin: 0 4px;
}

.widget-menubar>revealer * {
  margin-top: 8px;
}

.widget-menubar>revealer * button {
  border-radius: var(--border-radius);
  margin: 8px;
  margin-top: 0;
}

.widget-menubar>revealer * button:last-child {
  margin-bottom: 0;
} */

/* Volume widget */
:root {
  --widget-volume-row-icon-size: 24px;
}

.widget-volume {
  padding: 0px;
}

/* Each row app icon */
.widget-volume row image {
  -gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
  background-color: var(--noti-bg-alt);
  margin: 0px;
  margin-bottom: 0;
  border-radius: var(--border-radius);
}

/* Slider widget */

.widget-slider {
  padding: 0;
}

.widget-slider label {
  font-size: inherit;
}

/* Backlight widget */
.widget-backlight {
  padding: 0;
}

/* Inhibitors widget */
.widget-inhibitors > label {
  margin-right: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  margin-left: 8px;
  border-radius: var(--border-radius);
}
