/* ==========================================
   POWER-PROFILES-DAEMON MODULE
   ========================================== */
#power-profiles-daemon{
    padding: 0 10px;
    background-color: @surface;
    color: @on-surface;
}


#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}